<style>

</style>
<center>
<h1 style="padding:20px;"> Login </h1>
<h4 style="color:red;padding-left:20px"> {{error}} </h4>
<form class="form" method="POST" style="padding:20px;width:300px">
    <div class="form-group">
        <label class="sr-only">Username</label>
        <input type="text" name="username" autoFocus="focus" placeholder="Username">
    </div>
    <div class="form-group">
        <label class="sr-only">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <span display="inline-block"> 
        <button type="submit" class="btn btn-primary">Login</button>
    </span>
    <span display="inline-block"> 
        <a href="signup" class="btn btn-default" style="margin:20px">Sign Up</a>
    </span>
    
    
</form>
</center>
