<center>
<h1 style="padding:20px"> Sign Up </h1>
<h4 style="color:red;padding-left:20px"> {{error}} </h4>
<form class="form" method="POST" style="padding:20px;width:60%">
    <div class="form-group">
        <label class="sr-only">Username</label>
        <input type="text" autoFocus='focus' name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label class="sr-only">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
    <label class="sr-only">Repeat Password</label>
        <input type="password" name="password_2" placeholder="Repeat Password">
    </div>
    <div class="form-group">
    <label class="sr-only">Invitation Code</label>
        <input type="text" name="invi_code" placeholder="Invitation Code">
    </div>
    <br>
    <button type="submit" class="btn btn-default" id = "btn">Sign Up</button>
</form>
<center>