input {
    border:0;
    outline:0;
    background: transparent;
    border-bottom:2px solid rgba(70,83,106,0.15);
    width:200px;
    text-align: center;
}

input:focus {
    border-bottom:2px solid rgba(70,83,106,1);
}

.red {
	color: red;
}